# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/unifi-client-app/node_modules
/unifi-server-app/node_modules

# production
/unifi-client-app/build

# misc
**/.env*
**/*.log*
